/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/*.heroBanner {*/
/*	padding: 4rem 0;*/
/*	text-align: center;*/
/*	position: relative;*/
/*	overflow: hidden;*/
/*	!*background: linear-gradient(45deg, var(--ifm-color-primary-darker) 30%, var(--ifm-color-primary) 90%);*!*/
/*	background-color: #2b3137;*/
/*	color: white;*/
/*}*/

/*.heroBanner h1 {*/
/*	font-size: 3rem;*/
/*	font-weight: 700;*/
/*}*/

.heroBanner p {
	font-size: 1.5rem;
	margin: 1rem 0 2rem;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.indexCtasGitHubButtonWrapper {
	display: flex;
}

.indexCtasGitHubButton {
	overflow: hidden;
}

.features {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 4rem 0;
	background: var(--ifm-color-emphasis-100);
}

.feature {
	margin-bottom: 2rem;
}

.feature h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.feature p {
	font-size: 1rem;
	line-height: 1.6;
	color: var(--ifm-color-emphasis-700);
}

/*.codeExample {*/
/*	padding: 4rem 0;*/
/*	background: var(--ifm-background-color);*/
/*}*/

/*.codeExample h2 {*/
/*	font-size: 2rem;*/
/*	font-weight: 700;*/
/*	margin-bottom: 1rem;*/
/*}*/

/*.codeExample p {*/
/*	font-size: 1.2rem;*/
/*	line-height: 1.6;*/
/*	color: var(--ifm-color-emphasis-700);*/
/*	margin-bottom: 2rem;*/
/*}*/

/*.codeBlock {*/
/*	background: var(--ifm-pre-background);*/
/*	border-radius: var(--ifm-code-border-radius);*/
/*	padding: 1.5rem;*/
/*	margin: 0;*/
/*	overflow: auto;*/
/*	font-size: 0.9rem;*/
/*	line-height: 1.5;*/
/*}*/

/*.codeBlock code {*/
/*	display: block;*/
/*	color: var(--ifm-color-emphasis-900);*/
/*	font-family: var(--ifm-font-family-monospace);*/
/*}*/
