name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            src:
              - '**'
              - '!*.md'
              - '!packages/docs/**'
              - '!LICENSE'

  ci:
    needs: changes
    if: needs.changes.outputs.src == 'true' || github.event_name != 'pull_request'
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node-version }} on ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node-version: ["22"]
        include:
          - os: ubuntu-latest
            node-version: "24"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check
        if: runner.os == 'Linux'
        run: npx nadle check

      - name: Build
        run: npx nadle build

      - name: Test
        run: npx nadle test --summary

      - name: Coverage
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '22'
        run: pnpm -F nadle test -- --coverage
