name: CI

on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"
  merge_group:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node-version }} on ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node-version: ["22"]
        include:
          - os: ubuntu-latest
            node-version: "24"

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check
        run: npx nadle check

      - name: Build
        run: npx nadle build

      - name: Test
        run: npx nadle test --summary
