name: Release Any Commit

on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-any-commit:
    name: Release Any Commit
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Build
        run: npx nadle build

      - run: pnpm dlx pkg-pr-new publish --bin --comment=update --exclude nadle-vscode './packages/*'
