name: Release

on:
  push:
    tags:
      - "*/v*"

permissions:
  contents: read

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release:
    name: Release ${{ github.ref_name }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Build
        run: nadle build

      - name: Publish to npm
        if: ${{ !startsWith(github.ref_name, 'nadle-vscode/') }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "${NPM_TOKEN}" # pnpm config set is broken
          pnpm publish -r --no-git-checks --provenance

      - name: Publish VS Code Extension
        if: startsWith(github.ref_name, 'nadle-vscode/')
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        working-directory: packages/nadle-vscode
        run: npx @vscode/vsce publish
