name: Size Limit

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "packages/docs/**"
      - "LICENSE"

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  size-limit:
    name: Size Limit
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        package:
          - packages/nadle
          - packages/create-nadle
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Size Limit
        uses: andresz1/size-limit-action@94bc357df29c36c8f8d50ea497c3e225c3c95d1d # v1.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          directory: ${{ matrix.package }}
          package_manager: pnpm
